<!-- Loop over each object in the projects array -->
{{#each techs as |tech|}}
  <div class='card mt-5 text-justify p-3 bg-dark'>
    <div class='p-5 text-light'>
      <h2>

        <a href='/tech/{{tech.id}}'>
          <br />
          {{tech.title}}
        </a>

      </h2>

      <p>
      
    {{tech.shortDescription}}
      </p>

    </div>

      <div class='text-light'>
      User: {{tech.user.name}}
</div>
    <div class='bg-primary p-2'>
      <p>

        {{format_date tech.date_created}}
     

      </p>
    </div>
  </div>
{{/each}}