<!-- Loop over each object in the projects array -->
{{#each books as |book|}}
  <div class='card mt-5 text-justify p-3 bg-dark'>
    <div class='p-5 text-light'>
      <h2>

        <a href='/book/{{book.id}}'>
          <br />
          {{book.title}}
        </a>

      </h2>

      <p>
      
    {{book.shortDescription}}
      </p>

    </div>

      <div class='text-light'>
      User: {{book.user.name}}
</div>
    <div class='bg-primary p-2'>
      <p>

        {{format_date book.date_created}}
     

      </p>
    </div>
  </div>
{{/each}}